
body{
	background-color: white;
	margin: 0px 0px 0px 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	height: auto;
}
h1{
	color: #00BFFF;
}
h2{
  color: #00BFFF;	
}
h6{
	color: #00BFFF;
}
button:hover{
	background-color: grey;
}
.container-fluid{
	margin: 0px;
	padding: 0px;
}
.bottom_icon{
	padding-top: 10px;
}
.bottom_icon img{
	opacity: 1.0;
}
.bottom_icon p{
 color: white;
 text-decoration-style: bold; 
}
.bottom_menu{
	padding-top: 10px;
}
.bottom_menu a{
	text-decoration: none;
	text-decoration-style: bold;
	padding: 6px 8px;
}
.bottom_menu a:hover{
	background-color: grey;
}
/*.container .navbar-nav .nav-item a{
	text-decoration: none;
	text-align: center;
	 font-size: 16px;
	 padding: 14px 16px;
	 color: black;
}*/
/*.container .navbar-nav .nav-item*/ a:hover{
	background-color: grey;
}
/*.container .navbar-nav .nav-item img{
	padding-bottom: 3px;
}*/
.container.row.col-md-4 #f1{
	padding-left: 20px;
}
.f1{
	float: right;
}
.f2{
	float: left;
}
@media only screen and (min-device-width: 400px) {
 .right_image_1{
		width: auto;
	}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.right_image_1{
		width: auto;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.right_image_1{
		width: auto;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.right_image_1{
		width: auto;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.right_image_1{
		width: auto;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.right_image_1{
		width: auto;
	}
}